.custom-about {
    width: 80%;
    margin: 120px auto;
    display: flex;
}

.inner-about-fist {
    background-color: red;
    width: 60%;
    padding: 40px;
}

.inner-about-second {
    background-color: green;
    width: 40%;
    padding: 40px;
}

.malti-about-inner {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1.2;
}

.malti-about-inner span {
    font-size: 16px;
    text-align: justify;
}

.satisfy-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media ( min-width: 320px) and (max-width: 767px) {
    .custom-about {
        width: 100%;
        margin: 0px;
        flex-wrap: wrap;
    }
    .inner-about-fist {
        width: 100%;
    }
    .inner-about-second {
        width: 100%;
    }
    .malti-about-inner {
        font-size: 16px;
    }
    .malti-about-inner span {
        font-size: 14px;
        text-align: justify;
    }
    .inner-main-manu {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .works-main {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .main-form {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        border-radius: 8px;
    }
    .css-1v5u2yv {
        padding: 0px !important;
    }
    .main-form .form-control {
        width: 100% !important;
    }
    .form-btn {
        width: 56% !important;
    }
    .main-form {
        background: none !important;
    }
}