.resume-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 80px auto 0px;
    text-align: left;
}

.inner-resume-wrapper-fist {
    width: 50%;
    border-left: 5px solid blue;
    position: relative;
    background-color: green;
    margin-bottom: 15px;
    padding-left: 20px;
}

.inner-resume-wrapper-fist::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -8px;
    left: -6px;
    border-radius: 50%;
    background-color: brown;
}